* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  font-family: 'Inter', sans-serif;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  /* margin-top: 1em; */
  min-height: 100vh;
}

/* $$$$$$$ btns in the app $$$$$$$$ */

.btn-primary {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  border: 0;
  width: 80px;
  height: 80px;

  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
}

.btn-primary:hover {
  background-color: rgb(213, 135, 222);
  cursor: pointer;
}

.reset {
  background-image: url(./images/reset_icon.svg);
  transform: scaleX(-1);
  rotate: 0.1turn;
  background-size: 40px;
}

.save {
  background-image: url(./images/saved_icon.svg);
  background-size: 35px;
}

.btn-secondary {
  border: 0;
  width: 40px;
  height: 40px;
  border-radius: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
}

.btn-secondary:hover {
  background-color: rgb(213, 135, 222);
  cursor: pointer;
}

.edit {
  background-image: url(./images/edit_icon_black.svg);
  background-size: 25px;
}

.delete {
  background-image: url(./images/wastebin_icon_black.svg);
  background-size: 35px;
}

.dark-mode--btn {
  background-image: url(./images/night_icon.svg);
}
.party-mode--btn {
  background-image: url(./images/party_icon.svg);
  background-position: 0 -7px;
}

/* ################ 
      Typography 
  ################# */

/* ----------search-box ------------------- */

.search-box {
  width: 100%;
  background-color: #000;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-radius: 30px;
}

.search-icon {
  width: 30px;
  stroke: white;
}

.search-input {
  border: 0;
  width: 100%;
  outline: none;
  font-size: 1.5rem;
  text-indent: 0.5em;
  border-radius: 13px;
  padding: 0.25rem;
  background-color: #fff;
}

.search-input::placeholder {
  font-size: 1.5rem;
}

/* ----------container-edit ------------------- */
/*  >>----header-box-----<< */
.header-box--app-title {
  font-weight: 700;
  font-size: 5.5rem;
  letter-spacing: -2px;
}

.container-edit--input-field {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  border: 2px solid rgb(50, 50, 50);
  box-shadow: 0px 6px 8px 1px rgba(61, 61, 61, 0.5);
  border-radius: 25px;
  white-space: pre-wrap;

  width: 100%;
  resize: none;
  padding: 3rem;
}

.container-edit--input-field::placeholder {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.24);
}

.container-edit--input-field:focus {
  outline: none;
}

/*  ------------- container-logs ------------------ */

.container-logs--log-title {
  font-weight: 700;
  font-size: 4rem;
  letter-spacing: -2px;
  margin-bottom: 0.25em;
}
.card-note {
  border: 1.8px solid rgb(50, 50, 50);
  box-shadow: 0px 6px 8px 1px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  width: 35%;
  min-width: 10rem;
  height: 22vh;
  padding: 1em;
}
.card-note--headline-note {
  font-weight: 500;
  font-size: 2rem;
  width: 80%;
}
.card-note--date-stamp {
  font-weight: 400;
  font-size: 0.9rem;
  width: 80%;
}

/* #################### 
          layout 
####################### */

/* ----------container-edit ------------------- */

/* >>----header-box ---------<< */

.header-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
}

/* >>------search-box --------<< */
.search-box {
  display: flex;
  gap: 1rem;
}

/* ----------container-edit ------------------- */
.container-edit {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.container-edit--btns {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

/*  ------------- container-logs ------------------ */
.container-logs {
  width: 90%;
}

.container-logs--log-title {
  display: block;
  text-align: center;
}
.container-logs--btns {
  position: relative;
  width: 100%;
}

.container-logs--logs-collection {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2em; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.5rem;
}

.card-note {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.btn-secondary.edit {
  position: absolute;
  left: 1px;
  bottom: 1px;
}
.btn-secondary.delete {
  position: absolute;
  right: 1px;
  bottom: 1px;
}

/* ################ 
    Themes
  ################# */

.night-mode {
  background-color: #000;
  color: #fff;
}

.party-mode {
  background-color: rgb(255, 0, 247);
  color: #fff;
}

/* ################ 
    Media Queries 
  ################# */

@media screen and (max-width: 501px) {
  * {
    font-size: 14px;
  }

  .container-edit {
    width: 90vw;
  }

  .card-note {
    width: 100%;
  }

  .container-logs--logs-collection {
    flex-direction: column;
  }
}
